
EECS4413Project/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
EECS4413Project/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.class
*.class
